# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.expo
web-build

# Env
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
