@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #0f172a;
    /* Slate 950 */
    --foreground: #e2e8f0;
    /* Slate 200 */
}

body {}